:root {
  --main-blue: #18598f;
  --hover-blue: #034780;
  --dark-text: #333;
  --heading-text: #2c3e50;
  --bg-color: #f4f4f4;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--dark-text);
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: var(--heading-text);
}

.profile-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.profile-form label {
  font-size: 16px;
  font-weight: bold;
  color: var(--dark-text);
  margin-top: 10px;
  display: block;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-column {
  width: 48%;
}

.profile-form input:not([type="checkbox"]):not([type="radio"]) {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 16px;
  box-sizing: border-box;
}

.profile-form input:disabled {
  background-color: #e0e0e0;
}

.btn {
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: var(--main-blue);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--hover-blue);
}

.regresar {
  background-color: var(--main-blue);
  margin-top: 20px;
}

.regresar:hover {
  background-color: var(--hover-blue);
}

.cerrar-sesion {
  background-color: #e74c3c;
  margin-top: 20px;
}

.cerrar-sesion:hover {
  background-color: #c0392b;
}

.back-btn-container,
.logout-btn-container {
  text-align: left;
  margin-bottom: 20px;
}
